@model BlogSampleV2.WebUI.Areas.Administration.Models.LoginViewModel

@{
    ViewBag.Title = "Login";
}

<h2>Log in here</h2>

@using (Html.BeginForm())
{
    @Html.ValidationSummary()
    <div>
        <label>User name:</label>
        @Html.TextBoxFor(m => m.UserName)
    </div>
    <div>
        <label>Password:</label>
        @Html.PasswordFor(m => m.Password)
   </div>
            <input type="submit" value="Войти" class="btn btn-primary"/>
}