@using BlogSampleV2.WebUI.Models
@model ArticleViewModel

@{
    ViewBag.Title = "Article";
}

<h2>Article</h2>

<div class="post">
    <h3>@Model.Article.Title</h3>
    <article>@Model.Article.Text</article>
    @if (Model.Article.Tags.Count != 0)
    {
        <h5>
            Tags:<br>
            @foreach (var tag in Model.Article.Tags)
            {
                <span>#@tag.TagName </span>
            }
        </h5>
    }    
    <p>Posted by <strong>@((Model.Article.Author.Nick) ?? (Model.Article.Author.FirstName + " " + Model.Article.Author.LastName))</strong> @Model.Article.PostedDate.ToShortDateString()</p>
</div>