@using BlogSampleV2.Domain.Enteties
@model IEnumerable<Article>

@{
    ViewBag.Title = "Feed";
}

<h2>Feed</h2>

@foreach (var p in @Model)
{
    <div>
        <h3>@p.Title</h3>
        <p>@p.Text</p>
        <p>@p.PostedDate by @p.Author.Nick</p>        
    </div>
}
